/*
 *
 *	File: game.css
 *	Description: stylesheet for index.html in play/
 *  
 *  authors: vogeltak, pacmega, joep359
 *  
 *  09/25/2014
 *
 */

.header {
	padding: 20px 0 20px 0;
	text-align: center;
	background-color: rgba(26, 188, 156, 0.2);
}

 #board {
	height: 460px;
}

.box {
	width: 12.5%;
	height: 12.5%;
	background-color: #ddd;
	float: left;
	cursor: pointer;
	border-radius: 50%;
}

	.box:hover {	
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);	
		-moz-transform: scale(1.1);	
		-webkit-transform: scale(1.1);	
		transform: scale(1.1);
		background-color: #bbb;
	}