/*
 *
 *	File: game.css
 *	Description: stylesheet for index.html in play/
 *  
 *  authors: vogeltak, pacmega, joep359
 *  
 *  09/25/2014
 *
 */

.header {
	padding: 20px 0 20px 0;
	text-align: center;
	border-bottom: 8px solid #eee;
}

.header a {
	color: #1ABC9C;
}

	.header a:hover {
		color: #00A885;
	}

 #board {
	height: 460px;
}

.tile {
	width: 12.5%;
	height: 12.5%;
	background-color: #ddd;
	float: left;
	cursor: pointer;
	border-radius: 50%;
}

	.tile:hover, .tile:active {	
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);	
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		background-color: #bbb;
	}