/*
 *
 *	File: game.css
 *	Description: stylesheet for index.html in play/
 *  
 *  authors: vogeltak, pacmega, joep359
 *  
 *  09/25/2014
 *
 */

.header {
	padding: 20px 0 20px 0;
	text-align: center;
	border-bottom: 8px solid #eee;
}

.header a {
	color: #1ABC9C;
}

	.header a:hover {
		color: #00A885;
	}

 #board {
	height: 460px;
	display: none;
}

.tile {
	width: 12.5%;
	height: 12.5%;
	background-color: #ddd;
	float: left;
	cursor: pointer;
	border-radius: 50%;
}

	.tile:hover, .tile:active {	
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);	
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		background-color: #bbb;
	}

#settings {
	background-color: rgba(26, 188, 156, 0.2);
	padding: 40px 0 40px 0;
	text-align: center;
	display: none;
}

.colorpicker {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

	.colorpicker:hover {
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);	
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

.human {
	background-color: #2ecc71;
}

	.human:hover {
		background-color: #27ae60;
	}

.computer {
	background-color: #e74c3c;
}

	.computer:hover {
		background-color: #c0392b;
	}

.reset {
	background-color: #e74c3c;
	padding: 5px 0 5px 0;
}

	.reset:hover {
		background-color: #c0392b;
	}
