/*
 *
 *	File: home.css
 *	Description: stylesheet for index.html
 *  
 *  authors: vogeltak, pacmega, joep359
 *  
 *  09/12/2014
 *
 */

.header {
	text-align: center;
}

.button a:hover, a:active, a:focus {
	text-decoration: none;
}

.button h3 {
	margin-bottom: 0px;
	color: #fff;
}