/*
 *
 *	File: home.css
 *	Description: stylesheet for index.html
 *  
 *  authors: vogeltak, pacmega, joep359
 *  
 *  09/12/2014
 *
 */

.header {
	text-align: center;
}

#board {
	height: 460px;
}

.bar {
	position: left;
	width: 100%;
	height: 100px;
	background-color: rgba(231, 76, 60, 0.4);
}

.box {
	width: 12.5%;
	height: 12.5%;
	background-color: #ddd;
	float: left;
}

	.box:hover {
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);	
		-moz-transform: scale(1.1);	
		-webkit-transform: scale(1.1);	
		transform: scale(1.1);
		background-color: #bbb;
	}
